<ion-header translucent>
  <ion-toolbar>
    <ion-title color="primary">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-img class="logo-img" src="assets/logo.png"></ion-img>
  <ion-item class="gray-bg">
    <h6>{{userInfo.Name}}您好, 您目前共有 <ion-text color="primary" class="point-text">{{data.PointTotal}}</ion-text> 點</h6>
  </ion-item>
  <ion-item lines="full">
    <div slot="start">
      <ion-label>
        <p>{{thisYear}}年到期</p>
      </ion-label>
      <h6 class="ion-no-margin ion-padding-bottom">共有<ion-text color="primary" class="font-x-larger">
          <b>{{data.PointsThisYear}}</b>
        </ion-text>點</h6>
    </div>
    <div slot="end">
      <ion-label>
        <p>{{lastYear}}年到期</p>
      </ion-label>
      <h6 class="ion-no-margin ion-padding-bottom">共有<ion-text color="primary" class="font-x-larger">
          <b>{{data.PointsLastYear}}</b>
        </ion-text>點</h6>
    </div>
  </ion-item>
  <ion-card color="primary">
    <ion-card-header>
      <ion-text color="light">
        <h6>您的點數將會在15個日曆天內登錄<br>顯示紀錄為前三十個日曆天</h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let record of data.PointRecord">
          <ion-item nopadding>
            <ion-label>
              <h2> {{record.Memo}}</h2>
              <p> {{record.RecordTime}} </p>
            </ion-label>

            <ion-note slot="end" color="primary"><b>{{record.Points}}點</b></ion-note>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>