<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-list-header>
      <ion-label>您目前共有{{data.PointTotal}}點</ion-label>
    </ion-list-header>
    <ion-item>
      <div>
        <ion-label>{{thisYear}}年到期</ion-label>
        <ion-label>共有 {{data.PointsThisYear}} 點</ion-label>
      </div>
      <div slot="end">
        <ion-label>{{lastYear}}年到期</ion-label>
        <ion-label>共有 {{data.PointsLastYear}} 點</ion-label>
      </div>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>您的點數將會在15個日曆天內登錄<br>顯示紀錄為前三十個日曆天</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding *ngFor="let record of data.PointRecord">
          <ion-item nopadding>
            <ion-label>
              <h2> {{record.Memo}}</h2>
              <p> {{record.RecordTime | date:'yyyy/MM/dd' }} </p>
            </ion-label>

            <ion-note slot="end" color="primary">{{record.Points}}點</ion-note>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>