ion-content {
  --background: linear-gradient(to top, #f8ddf3 0%, #accdff 99%, #fff59e 100%);
}

.news-list {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 9px;
  li {
      &:last-of-type .new-title {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
}

.new-sub {
  display: flex;
  flex-flow: row wrap;
  color: #A76AAC;
  font-size: .8rem;
}

.new-title {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px #b1cefe dashed;
}
