<app-header (goBack)="onGoBack($event)"></app-header>
<ion-content [fullscreen]="true">
  <!--
  <ul class="news-list">
    <li *ngFor="let new of newsList" (click)="openNewsContent(new)">
         <div class="new-sub">{{new.Date}}</div>
         <p class="new-title">{{new.Title}}</p>
    </li>
  </ul>
  -->

  <ion-segment (ionChange)="onTabChang($event)" value="Latest">
    <ion-segment-button value="Latest">
      <ion-label>最新消息</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Activities">
      <ion-label>活動公告</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let news of tempNews" (click)="openNewsContent(news)">
    <div class="card-img-wrap">
      <div class="ribbon-content">NEWS</div>
      <img [src]="news.Img">
    </div>
    <ion-card-header color="primary">
      <ion-card-subtitle role="heading">{{news.Date}}
      </ion-card-subtitle>
      <ion-card-title>
        <h5>
          {{news.Title}}
        </h5>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
