<app-header (goBack)="onGoBack($event)"></app-header>
<ion-content [fullscreen]="true">
  <!--
  <ul class="news-list">
    <li *ngFor="let new of newsList" (click)="openNewsContent(new)">
         <div class="new-sub">{{new.Date}}</div>
         <p class="new-title">{{new.Title}}</p>
    </li>
  </ul>
  -->
  <!--
 <iframe class='webPage' src="http://demo.sunyu-tech.com.tw/tymetro-new/tw/index.php" style="width:100%; height:100%;"></iframe>
  -->

  <ion-segment (ionChange)="onTabChang($event)" value="Latest">
    <ion-segment-button value="Latest">
      <ion-label>最新消息</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Activities">
      <ion-label>活動公告</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let news of tempNews" (click)="openNewsContent(news)">

    <div class="ribbon-content"><img src="{{news.logourl}}"></div>
    <img src="{{news.cover}}">

    <ion-card-header color="primary">
      <ion-card-subtitle role="heading">{{news.startDate | date :  "YYYY.MM.dd" }}
      </ion-card-subtitle>
      <ion-card-title>
        <h6>
          {{news.title}}
        </h6>
      </ion-card-title>

    </ion-card-header>
  </ion-card>

</ion-content>
