<ion-header translucent>
  <ion-toolbar>
    <ion-title color="primary">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="gray-bg">
    <h6>{{userInfo.Name}} 您好,您目前共有<ion-text color="primary" class="point-text">{{points.PointTotal}}</ion-text>點</h6>
  </ion-item>
  <ion-item lines="full" class="ion-padding-bottom ion-padding-top ">
    <div slot="start">
      <ion-label>
        <p>{{thisYear}}年到期</p>
      </ion-label>
      <h6 class="ion-no-margin">共有<ion-text color="primary" class="font-x-larger">{{points.PointsThisYear}}</ion-text>點
      </h6>
    </div>
    <div slot="end">
      <ion-label>
        <p>{{lastYear}}年到期</p>
      </ion-label>
      <h6 class="ion-no-margin">共有<ion-text color="primary" class="font-x-larger">{{points.PointsLastYear}}</ion-text>點
      </h6>
    </div>
  </ion-item>
  <ion-item-divider lines="none">
    <ion-text color="danger">
      <h5>郵寄僅限臺、澎、金、馬地區</h5> 
      <h5>圖片僅供參考</h5>
    </ion-text>
  </ion-item-divider>
  <ion-card>
    <img class="img" src="{{data.PicPath}}" />
    <ion-card-header>
      <ion-card-subtitle>兌換點數 : {{data.Point}} 點，現有數量：{{data.Stock}}</ion-card-subtitle>
      <ion-card-title>{{data.ProductName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        {{data.ProductDesc}}
      </ion-item>

      <ion-item no-lines>
        <ion-icon name="remove-circle" (click)="onExchangNumber('remove')" [disabled]="exchangNumber==0"></ion-icon>
        {{exchangNumber}}
        <ion-icon name="add-circle" (click)="onExchangNumber('add')"></ion-icon>
      </ion-item>
    </ion-card-content>
    <ion-footer collapse="fade">

      <ion-toolbar>

        <ion-title (click)="onExchang()">兌換</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-card>


</ion-content>