<ion-header translucent>
  <ion-toolbar>
    <ion-title color="primary">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <div>
      <div class="ribbon-content">NEWS</div>
      <img src="{{data.pictures}}">
    </div>
    <ion-card-header>
      <ion-card-subtitle role="heading" color="primary">{{data.startDate}}
      </ion-card-subtitle>
      <ion-card-title>
        <h5>
          {{data.title}}
        </h5>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <div [innerHTML]="data.content"></div>

    </ion-card-content>
  </ion-card>
</ion-content>
