<ion-header [translucent]="false" class="brand-nav ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" *ngIf="pageInfo.isPage === false"></ion-menu-button>
      <ion-button *ngIf="pageInfo.isPage === true" icon-only (click)="onGoBack($event)">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-img class="logo-img" *ngIf="pageInfo.isPage === false" src="assets/logo.png"></ion-img>
    <ion-title *ngIf="pageInfo.isPage === true">{{pageInfo.title}}</ion-title>

    <ion-buttons slot="end" class="login" *ngIf="pageInfo.option!= 'None'">
      <ion-label color="primary" *ngIf="token != null">Hello</ion-label>
      <ion-button [routerLink]="['/shoppingcart']" (click)="handleAction($event)">
        <ion-icon name="{{pageInfo.option}}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
