ion-content {
  --background: #fff url('https://images.unsplash.com/photo-1552243412-fdeaae9619cb?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770') no-repeat center center / cover;
}

.dashboard-component {
  position: relative;
  display: flex;
  flex-flow: column;

  .station-status {
    order: 1;
  }

  .station-news {
    order: 3;
  }

  .brand-list {
    order: 2;
  }

}

.station-status {
  background: #8b38ac;
  padding: 0.5rem 5px;
  color: #fff;
  display: flex;
  flex-flow: row;
  align-items: center;

  ion-icon {
    color: #8bc34a;
    margin-right: 10px;
  }
}


.main-button {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 60px auto;
  width: 80%;
  height: 0;
  padding-top: 70%;
}

@media all and (max-width: 320px) {
  .main-menu {
    width: 300px;
    height: 300px;
    padding: 0;
  }
}

@media all and (min-width: 700px) {
  .main-menu {
    width: 570px;
    height: 500px;
    padding: 0;
  }
}


.main-menu li {
  -webkit-clip-path: url(#sector);
  clip-path: url(#sector);
  /* try this one in Chrome/Opera/Safari */
   -webkit-overflow: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:nth-child(1) {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: rotate(0deg);

    .main-menu-content {
      right: 39px;
      top: 51px;
    }
  }

  &:nth-child(2) {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: rotate(-60deg);

    .main-menu-content {
      right: 34px;
      top: 54px;
      transform: rotate(60deg);
    }
  }

  &:nth-child(3) {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: rotate(-120deg);

    .main-menu-content {
      right: 29px;
      top: 51px;
      transform: rotate(120deg);
    }
  }

  &:nth-child(4) {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: rotate(-180deg);

    .main-menu-content {
      right: 35px;
      top: 58px;
      transform: rotate(180deg);
    }
  }

  &:nth-child(5) {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: rotate(-240deg);

    .main-menu-content {
      right: 41px;
      top: 51px;
      transform: rotate(-120deg);
    }
  }

  &:nth-child(6) {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transform: rotate(-300deg);

    .main-menu-content {
      right: 38px;
      top: 54px;
      transform: rotate(-60deg);
    }
  }

  @media all and (max-width: 375px) {
    &:nth-child(1) {
      .main-menu-content {
        right: 27px;
        top: 66px;
      }
    }

    &:nth-child(2) {

      .main-menu-content {
        right: 28px;
        top: 64px;
      }
    }

    &:nth-child(3) {

      .main-menu-content {
        right: 29px;
        top: 61px;
      }
    }

    &:nth-child(4) {

      .main-menu-content {
        right: 31px;
        top: 66px;
      }
    }

    &:nth-child(5) {

      .main-menu-content {
        right: 31px;
        top: 64px;
      }
    }

    &:nth-child(6) {

      .main-menu-content {
        right: 33px;
        top: 62px;
      }
    }
  }

  @media all and (min-width: 700px) {
    &:nth-child(1) {
      .main-menu-content {
        right: 88px;
        top: 124px;
      }
    }

    &:nth-child(2) {

      .main-menu-content {
        right: 78px;
        top: 105px;
      }
    }

    &:nth-child(3) {

      .main-menu-content {
        right: 89px;
        top: 100px;
      }
    }

    &:nth-child(4) {

      .main-menu-content {
        right: 81px;
        top: 126px;
      }
    }

    &:nth-child(5) {

      .main-menu-content {
        right: 91px;
        top: 114px;
      }
    }

    &:nth-child(6) {

      .main-menu-content {
        right: 96px;
        top: 109px;
      }
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #333;
  }

  &:hover {
    background-image: linear-gradient(135deg, #d5d6da 0%, #bfc6ec 100%);
  }
}

.main-menu-content {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: auto;
}

.icon {
  position: absolute;
  /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
  right: 15%;
  top: 30%;
  /* make sure it it rotated enough; angle of rotation = angle of the sector itself */
  transform: rotate(60deg);

  /* style further as needed */
  font-family: Indie Flower;
  font-size: 25px;
}

// 底層內容
.main-menu-wrapp {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

// 中間按鈕位置
.middle-button-wrapp {
  position: absolute;
  z-index: 999;
}

// 中間按鈕
.middle-button {
  padding: 30px;
  border-radius: 100px;
  border: 7px solid rgba(202, 202, 202, 0.33);
  background: #fff;
  border: 11px solid rgb(202 202 202 / 33%);
  color: #333;
  font-size: 13px;
  width: 160px;
  height: 160px;
  @media all and (max-width: 425px) {
      padding: 10px;
      width: 130px;
        height: 130px;
    }

}

//  icon size
.icon-img {
  width: 50px;

  @media all and (max-width: 425px) {
    width: 44px;
  }

  @media all and (min-width: 700px) {
    width: 54px;
  }
}
