<app-header (onAction)="onAction($event)"></app-header>

<ion-content [fullscreen]="true" [ngStyle]="{'background': 'url('+backgroupURL+') no-repeat center center / 120%'}">
  <ion-header>
    <div class="logo-wall">
        <div [ngClass]="'station-status  station-status-'+title.StatusType"  *ngFor="let title of titleList">
          <div class="logo-wrapper first">
            <img [src]="'../../../assets/dashboard/'+title.StatusType+'.svg'" alt="">{{title.StatusText}}
          </div>
        </div>
    </div>
    <!-- <div class="station-status station-status-danger">
      <img src="../../../assets/dashboard/danger.svg" alt="">營運狀態：全線檢測中，暫停行駛中
    </div> -->
  </ion-header>
  <div class="main-menu-wrapp">
    <div class="middle-button-wrapp">
      <button class="middle-button" (click)="onLinkApp()">
        <div class="main-button">
          <img src="../../../assets/dashboard/ticket.svg" class="icon-img">
          <span>票價時刻</span>
        </div>
      </button>
    </div>
    <ul class="main-menu">
      <li *ngFor="let menu of menus">
        <a (click)="gotoMenu(menu)">
          <div class="main-menu-content">
            <img [src]="menu.icon" class="icon-img">
            <span>{{menu.name}}</span>
          </div>
        </a>
      </li>
    </ul>
    <svg height="0" width="0">
      <defs>
        <clipPath clipPathUnits="objectBoundingBox" id="sector"  *ngIf="mobile">
          <path fill="none" stroke="#111" stroke-width="1" class="sector"
            d="M0.5,0.5 l0.5,0 A0.5,0.5 0 0,0 0.75,.066987298 z"></path>
        </clipPath>
      </defs>
    </svg>
    <svg height="0" width="0" viewbox="0 0 1 1" *ngIf="!mobile">
      <defs>
        <clipPath id="sector" clipPathUnits="objectBoundingBox">
          <path fill-rule="evenodd" d="M0.5,0.5 l0.5,0 A0.45,0.6 0 0,0 0.75,.006987298 z"></path>
        </clipPath>
      </defs>
    </svg>
    <!--
    <div class="news-important">
      <img src="../../../assets/dashboard/news-important.svg" alt="">
    </div>
    -->

  </div>
</ion-content>
<ion-footer>
  <div class="news-wrap">
    <div class="news-title">
      <h1>News</h1>
    </div>
    <ion-slides pager="true" [options]="slideOpts" #slideWithNav
      (ionSlideDidChange)="onSlideDidChange(banner,slideWithNav)">
      <ion-slide *ngFor="let s of banner" (click)="onClickSlide(s)">
        <img src="{{s.PicLink}}">
      </ion-slide>
    </ion-slides>
  </div>
</ion-footer>

<ion-modal *ngIf="opened" [isOpen]="opened" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-img class="logo-img" src="assets/logo.png"></ion-img>
        </ion-title>
        <ion-button slot="end" fill="clear" color="primary" (click)="opened = false">
          關閉
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
      <ion-img  [src]="this.selectBanner.PicLink"></ion-img>
    </ion-content>
  </ng-template>
</ion-modal>
