<!--
<ion-header [translucent]="false" class="brand-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="logo-img" src="assets/logo.png"></ion-img>
    <ion-buttons slot="end" class="login">
      <ion-button [routerLink]="['/shoppingcart']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

-->
<app-header></app-header>
<ion-content [fullscreen]="true" [ngStyle]="{'background': 'url('+assetPath+') no-repeat center center / cover'}">
    <div class="station-status station-status-normal">
        <img src="../../../assets/dashboard/normal.svg" alt="">營運狀態：全線正常營運
    </div>
    <div class="station-status station-status-danger">
        <img src="../../../assets/dashboard/danger.svg" alt="">營運狀態：全線檢測中，暫停行駛中
    </div>
  <div class="main-menu-wrapp">
    <div class="middle-button-wrapp">
      <button class="middle-button" (click)="getNewAdvertising()">
        <div class="main-button">
          <img src="../../../assets/dashboard/ticket.svg" class="icon-img">
          <span>行動購票</span>
        </div>
      </button>
    </div>
    <ul class="main-menu">
      <li *ngFor="let menu of menus">
        <a (click)="onNav(menu.url)">
          <div class="main-menu-content">
            <img [src]="menu.icon" class="icon-img">
            <span>{{menu.name}}</span>
          </div>
        </a>
      </li>
    </ul>
    <svg height="0" width="0" viewbox="0 0 1 1" *ngIf="!mobile">
      <defs>
        <clipPath id="sector" clipPathUnits="objectBoundingBox">
          <path fill-rule="evenodd" d="M0.5,0.5 l0.5,0 A0.45,0.6 0 0,0 0.75,.006987298 z"></path>
        </clipPath>
      </defs>
    </svg>
    <svg height="0" width="0" viewbox="0 0 1 1" *ngIf="mobile">
      <defs>
        <clipPath id="sector" clipPathUnits="objectBoundingBox">
          <path fill-rule="evenodd" d="M0.5,0.5 l0.5,0 A0.5,0.5 0 0,0 0.75,.066987298 z"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="news-wrap">
      <h1>重大消息</h1>
      {{'刪除' | translate}}
  </div>

  <!-- <div class="dashboard-component">
    <div class="station-status" *ngIf="false">
      <ion-icon name="radio-button-on-sharp"></ion-icon>正常營運中
    </div>
    <div class="brand-list smartcms_body">

      <div class="smartcms_wrapper">
        <ul>
          <li>
            <button class="smartcms_button" id="smartcms_button">
              <div class="main-button">
                <img src="../../../assets/dashboard/ticket.svg" class="icon-img">
                <span>行動購票</span>
              </div>
            </button>
          </li>
          <li *ngFor="let menu of menus">
            <a [href]="menu.url">
              <div class="smartcms_content">
                <img [src]="menu.icon" class="icon-img">
                <span>{{menu.name}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="station-news" *ngIf="false">
      <ul>
        <li>News</li>
        <li>
            <ion-slides pager="true" [options]="{ slidesPerView: true, loop: true,navigation: true}">
              <ion-slide [routerLink]="['/shoplist']">
                <h1>Slide 1</h1>
              </ion-slide>
              <ion-slide [routerLink]="['/shoplist']">
              <h1>Slide 2</h1>
              </ion-slide>
            </ion-slides>
        </li>
      </ul>
    </div>
  </div> -->
</ion-content>
