<ion-header translucent>
  <ion-toolbar>
    <ion-title color="primary">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="logo-img" src="assets/logo.png"></ion-img>
  <form [formGroup]="changPasswordForm" (submit)="onConfirm()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">舊密碼</ion-label>
        <ion-input clearInput value="" formControlName="oldPassword" required></ion-input>
        <ion-note slot="error" *ngIf="isSubmitted && errorControl.oldPassword.errors?.required">請輸入6-12位英文數字大小寫密碼
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">新密碼</ion-label>
        <ion-input clearInput value="" formControlName="newPassword" required></ion-input>
        <ion-note slot="error" *ngIf="isSubmitted && errorControl.newPassword.errors?.required">請輸入6-12位英文數字大小寫密碼
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">確認密碼</ion-label>
        <ion-input clearInput value="" formControlName="reconfirmPassword" required></ion-input>
        <ion-note slot="error" *ngIf="isSubmitted && errorControl.reconfirmPassword.errors?.required">請輸入6-12位英文數字大小寫密碼
        </ion-note>
      </ion-item>
    </ion-list>
    <section class="ion-margin-top">
      <ion-button type="submit" color="primary" expand="block">確認送出</ion-button>
    </section>
  </form>


</ion-content>
