<ion-header translucent>
  <ion-toolbar>
    <ion-title>定期票/135通勤</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section class="full-width">
    <ion-button expand="full" color="light">卡號位置說明</ion-button>
  </section>
  <section expand="full" class="ion-text-justify">
    <label>請輸入卡號：</label>
    <ion-input [(ngModel)]="cardNo"></ion-input>
  </section>
  <section expand="full">
    <ion-button expand="block" (click)="onSave()">確認送出</ion-button>
  </section>

</ion-content>