<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">關閉</ion-button>
    </ion-buttons>
    <ion-title color="primary">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-item lines="none">
       <ion-text>卡號位置說明</ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-img src="assets/cards/card_is.png"></ion-img>
  </ion-item>

  <ion-item class="ion-form-group ion-margin" lines="none">
    <ion-input type="text" [(ngModel)]="cardNo" placeholder="請輸入卡號"></ion-input>
    <ion-icon name="ticket" slot="start"></ion-icon>
  </ion-item>

  <section expand="block">
    <ion-button expand="block" (click)="onSave()">確認送出</ion-button>
  </section>

</ion-content>
