<app-header (goBack)="onGoBack($event)" (onAction)="onAction($event)"></app-header>
<ion-content fullscreen>
    <ion-img class="logo-img" src="assets/logo.png"></ion-img>
    <ion-list>
        <ion-item lines="none">
            <ion-label slot="end" color="secondary">{{userInfo.Name}} 您好</ion-label>
        </ion-item>
    </ion-list>

    <ion-card *ngFor="let card of cards">
        
        <ion-card-header>
            <ion-card-subtitle>{{card.CardNo}}</ion-card-subtitle>
            <ion-card-title>{{card.CardName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <img [src]="card.PicPath" (click)="onClick(card)"/>
            <ion-item lines="full">
                <ion-label>
                    <h3>有效日期：{{card.Status.InvalidDate}}</h3>
                    <h3>購買日期：{{card.Status.BuyDate}}</h3>
                    <h3>有效天數：{{card.Status.EffectiveDays}}</h3>
                    <p>{{card.Status.Station.StartStationId}} - {{card.Status.Station.EndStationId}}</p>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>