<app-header (goBack)="onGoBack($event)" (onAction)="onOption($event)"></app-header>

<ion-content fullscreen="true">
  <ion-img class="logo-img" src="assets/logo.png"></ion-img>
  <ion-label class="ion-margin">
    請輸入以下基本資料：<ion-text color="primary">*</ion-text>為必填
  </ion-label>

  <form [formGroup]="memberForm" (submit)="onConfirm()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">
          <ion-text color="primary">*</ion-text>身分證號碼
        </ion-label>
        <ion-input class="ion-text-uppercase" formControlName="Id" [(ngModel)]="member.Id" clearInput
          [disabled]="register == false">
        </ion-input>
        <ion-note slot="helper">此為使用者帳號，後續將無法修改</ion-note>
        <ion-note slot="error">此為使用者帳號，後續將無法修改</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-text color="primary">*</ion-text>姓名
        </ion-label>
        <ion-input formControlName="Name" [(ngModel)]="member.Name" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">行動電話</ion-label>
        <ion-input formControlName="PhoneNumber" type="tel" mask="****-******" [(ngModel)]="member.Tel" clearInput>
        </ion-input>
        <ion-note slot="helper">如需購買定期票，此選項為必填</ion-note>
        <ion-note slot="error">如需購買定期票，此選項為必填</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-text color="primary">*</ion-text>信箱
        </ion-label>
        <ion-input formControlName="Email" type="email" [(ngModel)]="member.Email" clearInput></ion-input>
        <ion-note slot="helper">重新修改 e-mail需重新發送驗證信</ion-note>
        <ion-note slot="error">重新修改 e-mail需重新發送驗證信</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">生日</ion-label>
        <ion-input formControlName="Birthday" clearInput type="tel" [(ngModel)]="member.Birthday"
          placeholder="1977-01-01" mask="****-**-**">
        </ion-input>
        <ion-note slot="helper">如需購買定期票，此選項為必填</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">地址</ion-label>
        <ion-input formControlName="Address" [(ngModel)]="member.Address" clearInput></ion-input>
        <ion-note slot="helper">如需購買定期票，此選項為必填</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">原交通方式</ion-label>
        <ion-select interface="action-sheet" formControlName="OriginTrans" value="" [(ngModel)]="member.OriginTrans">
          <ion-select-option *ngFor="let item of transportations">{{item.name}}
          </ion-select-option>
        </ion-select>
        <ion-note slot="helper">如需購買定期票，此選項為必填</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">職業</ion-label>
        <ion-select interface="action-sheet" formControlName="JobTitle" value="" [(ngModel)]="member.JobTitle">
          <ion-select-option *ngFor="let item of jobs">{{item.name}}</ion-select-option>
        </ion-select>
        <ion-note slot="helper">如需購買定期票，此選項為必填</ion-note>
      </ion-item>

      <ion-item *ngIf="register == true">
        <ion-label position="floating">密碼</ion-label>
        <ion-input formControlName="Password" type="password" clearInput></ion-input>
      </ion-item>

      <ion-item *ngIf="register == true">
        <ion-label position="floating">再次確認密碼</ion-label>
        <ion-input formControlName="ReconfirmPassword" type="password" clearInput></ion-input>
      </ion-item>

      <ion-item *ngIf="register == true" lines="none">
        <ion-text color="" primary>會員條款及活動規約</ion-text>
        <ion-checkbox slot="start" formControlName="ReadNotice" value="" (ionChange)="onChang('member')"></ion-checkbox>
      </ion-item>

      <ion-item lines="none">
        <ion-text color="" primary>120定期票及369定期票優惠專案使用須知</ion-text>
        <ion-checkbox slot="start" formControlName="ReadNotice" value="" (ionChange)="onChang('ticket')"></ion-checkbox>
      </ion-item>
      <ion-item lines="full">

      </ion-item>

    </ion-list>
  </form>
  <ion-footer>
    <ion-button expand="block" (click)="onChangPassword()" color="primary" *ngIf="register == false">修改密碼</ion-button>
    <ion-button expand="block" (click)="onConfirm()" color="primary" *ngIf="register == false">確認修改</ion-button>
    <ion-button expand="block" (click)="onCancel()" color="primary" *ngIf="register == false">取消</ion-button>
    <ion-button expand="block" (click)="onConfirm()" color="primary"
      *ngIf="register == true" [disabled]="memberForm.value.Email === undefined">發送驗證信</ion-button>
    <ion-button expand="block" (click)="onConfirm()" color="primary"
      *ngIf="register == true" [disabled]="memberForm.value.PhoneNumber === undefined">發送驗證簡訊</ion-button>
  </ion-footer>
  <!-- && this.memberForm.value.Email !== undefined" -->
</ion-content>
<ion-modal [isOpen]=" opened">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>客服小提醒</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onClose(false)">關閉</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            您已完成資料修改。請點擊發送信箱驗證，進行驗證，若未進行信箱驗證，
            系統將於隔天凌晨三點，恢復原先註冊信箱。
          </p>
          <ion-footer>
            <ion-button expand="block" (click)="onVerifyLetter()" color="primary">發送驗證信箱</ion-button>

          </ion-footer>
        </ion-content>
      </ng-template>
      </ion-modal>

      <!--
  <ion-modal *ngIf="opened" [class.date-time]="mode === 'date-time'" [class.date]="mode === 'date'"
    [class.time]="mode === 'time'" [isOpen]="opened" [backdropDismiss]="false">
    <ng-template>
      <ion-content>
        <ion-datetime style="margin-top: 100px" size="cover" hourCycle="h23" [presentation]="mode" [value]="value"
          [max]="'2050-12-31'" (ionChange)="updateValue($event)">

        </ion-datetime>
        <ion-button fill="clear" color="primary" (click)="save()">
          選擇
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="cancel()">
          取消
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
-->