<ion-header translucent>
  <ion-toolbar>
    <ion-title color="primary">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">關閉</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card *ngFor="let vehicleType of vehicleTypes">
    <ion-card-header (click)="onClick(vehicleType)">
      <img src="https://www.tymetro.com.tw/tymetro-new/tw/_images/travel-guide/card-purple.jpg" />
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>定期票</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     
    </ion-card-content>
  </ion-card>



</ion-content>