<app-header (goBack)="onGoBack($event)"> </app-header>
<ion-content fullscreen>
  <ion-img class="logo-img" src="assets/logo.png"></ion-img>


  <ion-list>
    <ion-list-header>
      <ion-label>您目前共有{{points.PointTotal}} 點</ion-label>
    </ion-list-header>
    <ion-item>
      <div>
        <ion-label>{{thisYear}}年到期</ion-label>
        <ion-label>共有 {{points.PointsThisYear}} 點</ion-label>
      </div>
      <div slot="end">
        <ion-label>{{lastYear}}年到期</ion-label>
        <ion-label>共有 {{points.PointsLastYear}} 點</ion-label>
      </div>
    </ion-item>
    <ion-item>
      提醒您，年度累積點數必須於隔年12/31前使用完畢
    </ion-item>
  </ion-list>

  <section class="full-width">
    <ion-button expand="full" (click)="onNavigate('/dashboards/carrier')">載具專區</ion-button>
    <ion-button expand="full" (click)="onOpen('points')">歷史點數查詢</ion-button>
    <ion-button expand="full" (click)="onNavigate('/dashboards/construct')">兌換專區</ion-button>
    <ion-button expand="full"
      (click)="goToBrowser('https://www.tymetro.com.tw/tymetro-new/tw/_pages/service/FAQ.php?v=#station')">常見問題
    </ion-button>
    <ion-button expand="full" (click)="onNavigate('/dashboards/member-modify')">會員資料修改</ion-button>
    <ion-button expand="full" (click)="logout()">登出</ion-button>
  </section>
</ion-content>